<div id="gallery">
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
  <div class="post"><img src="../../assets/post_placeholder.jpeg" alt="instagram post placeholder"></div>
</div>